<!doctype html>
<html class="no-js" lang="en" ng-app="demo" ng-controller="DemoCtrl">
  <head>
    <meta charset="utf-8">
    <title>contexta</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kuus <kunderikuus@gmail.com> (http://kunderikuus.net)">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/demo/"><!-- for github deploy only -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="styles/app.css?v=fe5a8fd87405127bb64b888f09cde6bd" inline>
    <link rel="stylesheet" ng-href="styles/app.<%{ demo.attrs.skin }%>.css">
  </head>
  <body class="page--home" ng-cloak>
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" ng-click="isNavCollapsed = !isNavCollapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand logo">
              <h1 class="logo__text">contexta</h1>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse demo__controls" uib-collapse="!isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="navbar-text player">
                  <player url="sample_call.mp3"></player>
                </div>
              </li>
              <li><a href="#" ng-click="isEditorOpen=!isEditorOpen">Data</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--[if lt IE 10]>
    <div class="alert alert-warning browserupgrade"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
  <![endif]-->
    <div class="demo__dataeditor" uib-collapse="!isEditorOpen">
      <h3>Tweak the data</h3>
      <textarea object-edit ng-model="demo.rawData"></textarea>
    </div>
    <div class="pane__wrap">
      <div class="container pane__container">
        <div class="row pane__row">
          <div class="alert alert-danger hidden" ng-if="loadError">There was a problem loading data.</div>
          <div class="col-sm-7 pane__col pane--left">
            <div class="pane__background pane__background--left"></div>
            <!-- Dialogue -->
            <div id="scroll__dialogue" class="scroller pane--left-top">
              <emptiness ng-hide="demo.data.dialogue.length">Here will appear the real time dialogue of your call</emptiness>
              <section class="area dialogue">
                <ul class="dialogue__items list-unstyled" ng-cloak>
                  <li ng-repeat="sentence in demo.data.dialogue" class="dialogue__item dialogue__item--<%{:: sentence.user }%>">
                    <typewriter class="dialogue__item-content" content="sentence.content" type-delay="demo.attrs.typeDelay" humanize="30" initial-delay="0"></typewriter>
                  </li>
                </ul>
              </section>
            </div>
            <!-- Indicators -->
            <div class="pane--left-bottom">
              <div class="pane__background pane__background--bottom"></div>
              <div class="row">
                <section class="col-sm-6 area sentiment">
                  <h3 class="area__title">Sentiment</h3>
                  <indicator-bar value="demo.data.sentiment"></indicator-bar>
                </section>
                <section class="col-sm-6 area nps">
                  <h3 class="area__title">NPS score</h3>
                  <indicator-bar value="demo.data.nps" class="indicator--invert"></indicator-bar>
                </section>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pane__col pane--right">
            <div class="pane__background pane__background--right"></div>
            <!-- Tags -->
            <section class="pane--right-top area tags">
              <h3 class="area__title">Tags</h3>
              <emptiness ng-hide="demo.data.tags.length">Listening for tags</emptiness>
              <ul id="scroll__tags" class="scroller tags__items list-unstyled" ng-cloak>
                <li ng-repeat="tag in demo.data.tags" class="tags__item tags__item--<%{:: tag.color || '1' }%>" ng-click="tagClick(tag.seconds)"><%{:: tag.text }%></li>
              </ul>
            </section>
            <!-- Feedback -->
            <section class="pane--right-bottom area feedback">
              <h3 class="area__title">Feedback</h3>
              <emptiness ng-hide="demo.data.feedback.length">Here will appear feedback related to your call</emptiness>
              <ul id="scroll__feedback" class="scroller feedback__cards list-unstyled" ng-cloak>
                <li ng-repeat="msg in demo.data.feedback" class="feedback__card" ng-class="{'active': $last}">
                  <div ng-include="'feedback-tpl--' + msg.type + '.html'"></div>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="feedback-tpl--question.html"> <h5 class="feedback__title"><%{:: msg.title }%></h5>
  <h3 class="feedback__question"><%{:: msg.content }%></h3>
</script>
    <script type="text/ng-template" id="feedback-tpl--list.html"> <h5 class="feedback__title"><%{:: msg.title }%></h5>
  <ol class="feedback__list">
    <li ng-repeat="item in msg.content.split(',')"><%{ item }%></li>
  </ol>
</script>
    <script type="text/ng-template" id="feedback-tpl--userdata.html"> <div class="media-left">
    <img class="feedback__avatar" src="images/avatar.png">
  </div>
  <div class="media-body">
    <table class="feedback__table">
      <tr ng-show="msg.content.number"><td>Klantnr</td><td>:</td><td><%{:: msg.content.number }%></td></tr>
      <tr ng-show="msg.content.name"><td>Naam</td><td>:</td><td><%{:: msg.content.name }%></td></tr>
      <tr ng-show="msg.content.product"><td>Product</td><td>:</td><td><a href="#"><%{:: msg.content.product }%></a></td></tr>
      <tr ng-show="msg.content.date"><td>Aankoopdatum</td><td>:</td><td><%{:: msg.content.date }%></td></tr>
    </table>
  </div>
</script>
    <script type="text/ng-template" id="feedback-tpl--product.html"> <h5 class="feedback__title"><%{:: msg.title }%></h5>
  <div class="media-left">
    <img class="feedback__product-img" src="images/sample-product.png">
  </div>
  <div class="media-body">
    <h4 class="feedback__product-type">WiFi Versterker</h4>
    <h3 class="feedback__product-name">TP-LINK TL-WA854RE 300Mbps Universal WiFi Range Extender</h3>
    <p class="feedback__product-price">€59<p>
    <div class="feedback__product-actions">
      <button class="btn btn-default">Meer Info</button>&nbsp;
      <button class="btn btn-success">Bestel</button>
    </div>
  </div>
</script>
    <script>
      window.APPDATA_INDEX = {
        "2":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Goedemorgen, Sunshine klantenservice u spreekt met Henk"
          }
        },
        "6":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Hallo goedemorgen u spreekt met mevrouw De Vries."
          }
        },
        "8":
        {
          "feedback":
          {
            "id": 1,
            "type": "userdata",
            "content":
            {
              "name": "De Vries"
            }
          }
        },
        "10":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Ik heb een probleem om op internet te komen en ik kon het niet vinden op jullie website. Mijn telefoon kan geen verbinding maken meer ineens."
          },
          "tags":
          {
            "add": [
            {
              "color": 2,
              "text": "Internet"
            }]
          }
        },
        "13":
        {
          "tags":
          {
            "add": [
            {
              "text": "Website gezocht"
            }]
          }
        },
        "16":
        {
          "tags":
          {
            "add": [
            {
              "text": "Telefoon"
            },
            {
              "color": 3,
              "text": "Geen verbinding"
            }]
          }
        },
        "17":
        {
          "sentence":
          {
            "user": "operator",
            "content": "O, dan gaan we dat voor u oplossen. Mag ik van u uw klantnummer?"
          },
          "nps": "-30",
          "sentiment": "-10"
        },
        "24":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Zeker, dat is 37582"
          }
        },
        "26":
        {
          "tags":
          {
            "add": [
            {
              "text": "Klant 37582"
            }]
          },
          "feedback":
          {
            "id": 1,
            "type": "userdata",
            "content":
            {
              "name": "Mevr. Irene de Vries",
              "number": "37582",
              "date": "14 november 2006",
              "product": "Sunshine Model X"
            }
          }
        },
        "28":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Dank u wel. Gaat het dus om de Sunshine Model X als ik het goed begrijp?"
          }
        },
        "30":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Inderdaad"
          },
          "tags":
          {
            "add": [
            {
              "text": "Model X"
            }]
          }
        },
        "33":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Ah ok. Wilt u verbinden via de WiFi of het mobiele netwerk?"
          },
          "sentiment": "+30",
          "feedback":
          {
            "id": 2,
            "type": "question",
            "title": "Vraag",
            "content": "Wifi netwerk of mobiel netwerk?"
          }
        },
        "37":
        {
          "sentence":
          {
            "user": "customer",
            "content": "De wifi"
          },
          "tags":
          {
            "add": [
            {
              "text": "Wifi",
              "color": 3
            }]
          }
        },
        "40":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Ziet u het wifi-symbool verschijnen op uw telefoon?"
          }
        },
        "43":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Even kijken, nee ik zie geen wifi symbool."
          }
        },
        "45":
        {
          "feedback":
          {
            "id": 3,
            "type": "list",
            "title": "Mogelijkheden",
            "content": "wifi uitgeschakeld, router uitgeschakeld, buiten bereik"
          }
        },
        "47":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Staat de wifi op uw telefoon ingeschakeld en staat deze niet op de vliegtuigmodus?"
          }
        },
        "52":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Ja wifi, is wel ingeschakeld."
          }
        },
        "54":
        {
          "sentence":
          {
            "user": "operator",
            "content": "O. Ziet u ook uw eigen wifi netwerk in de lijst terug?"
          },
          "feedback":
          {
            "id": 3,
            "type": "list",
            "title": "Mogelijkheden",
            "content": "router uitgeschakeld, buiten bereik"
          }
        },
        "58":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Nee, die zie ik vreemd genoeg niet."
          },
          "feedback":
          {
            "id": 4,
            "type": "question",
            "title": "Vraag",
            "content": "Voldoende dicht bij router?"
          }
        },
        "62":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Bent u wel voldoende in de buurt bij uw wifi-router?"
          }
        },
        "65":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Dat weet ik niet zeker, ik sta op dit moment in de tuin vanwege het lekkere weer."
          }
        },
        "70":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Ok. Kunt u in dat geval even richting uw huis lopen?"
          }
        },
        "74":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Dat is goed… Ah! Ik zie dat de wifi het weer doet."
          },
          "nps": "+20",
          "feedback":
          {
            "id": 6,
            "type": "list",
            "title": "Waarschijnlijk probleem",
            "content": "Onvoldoende signaal op locatie."
          }
        },
        "76":
        {
          "sentiment": "+20",
          "tags":
          {
            "add": [
            {
              "text": "Probleem opgelost",
              "color": 3
            },
            {
              "text": "Signaalsterkte",
              "color": 2
            }]
          },
          "feedback":
          {
            "id": 5,
            "type": "question",
            "title": "Suggestie",
            "content": "Bied wifi versterker aan"
          }
        },
        "79":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Dat is goed te horen mevrouw. Als u het wilt kan ik ervoor zorgen dat u een wifi-versterker toegezonden krijgt. Op die manier heeft u ook op de wat verder gelegen plekken prima verbinding."
          }
        },
        "89":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Dat klinkt interessant, wat zijn de kosten hiervan? "
          },
          "feedback":
          {
            "id": 7,
            "type": "product",
            "title": "Product Suggestie"
          },
          "nps": "+10"
        },
        "92":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Vanaf € 59 heeft u al een uitstekende versterker die voldoende zou moeten zijn."
          }
        },
        "97":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Hartelijk dank, nou dan wil ik die meteen bestellen.."
          },
          "nps": "+10",
          "tags":
          {
            "add": [
            {
              "text": "Cross sell"
            }]
          }
        },
        "100":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Uitstekend, ik zal het direct voor u regelen en u zult hem morgen al ontvangen."
          },
          "feedback":
          {
            "id": 8,
            "type": "question",
            "title": "Vraag",
            "content": "Verdere vragen?"
          }
        },
        "104":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Heeft u verder nog vragen?"
          }
        },
        "106":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Nee, mijn probleem is opgelost"
          },
          "nps": "+10"
        },
        "108":
        {
          "sentence":
          {
            "user": "customer",
            "content": "Bedankt voor uw hulp!"
          }
        },
        "110":
        {
          "sentence":
          {
            "user": "operator",
            "content": "Graag gedaan en tot ziens!"
          }
        }
      }
    </script>
    <script>
      (function(b, o, i, l, e, r)
      {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function()
        {
          (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <script src="scripts/vendor.js?v=26c34956b320ceace3b1afcf524eccba" inline></script>
    <script src="scripts/app.js?v=62ff66d2717514cc9ba4f369da47b7a7" inline></script>
  </body>
</html>